.app {
  text-align: center;
}

.layout {
 display: flex;
 flex: 1 1 auto;
 flex-direction: column;
 background-color: #183a48;
}

.header {
  display: flex;
  flex: 0 0 200px;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 50%;
  display: block;
  background-repeat: no-repeat;
  background-position: 50%;
  height:50%
}

.logo-image {
  object-fit: cover;
}

.logo-container {
  display: flex;
  width: 50%;
  height: 50%;
  justify-content: center;
}

.content {
  display: flex;
  flex: 1 1 auto;
  min-height: 0;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popular-movies {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;

}

.heading {
  color: white;
}

.search-box {
  padding: 24;
  min-height: 280;
  width: 100%;
}

/* Antd styles overrides */
.ant-card-bordered {
  border: none !important;
}

.ant-card-body {
  background: #183a48 !important;
  color:white !important;
  border:0 !important;
}

.ant-card-meta-title {
  color:white !important;
}

.ant-btn-primary {
  background: #225e61 !important;
}

